body,html{
  margin: 0%;
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
header{
  top: 0;
  height: 9%; 
}
footer{
bottom: 0;
height: 7.5%;
}
header,footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rosybrown;
  position: fixed;
  width: 100%;
  overflow-y: hidden;
}
#login{
  justify-content: flex-end;  
  margin-right: 2%;
}
a#logo, img.site-logo{
  
  height: 60px;
  width: 60px;
}

.social-media{
  height: 20px;
  width: 22px;
}

.icons{
  margin-right: 1%;
}

.contact-page{
  margin-left: 1em;
}

.copyright{
  font-size: 10px;
  text-align: center;
  margin-top: 1rem;
}

.copyright::before{
  content: "\00A9";
}