body,html{
    margin: 0%;
    height: 100%;
    width: 100%;
    /* background-color: #e0e0e0; */
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
header{
    top: 0;
    height: 10%;
    z-index: 80;
}
footer{
 bottom: 0;
 height: 8%;
}
header,footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    overflow-y: hidden;
}
#login{
  text-decoration: none;
  color: black;
  border:none;
border-radius:5px;
}
a#logo, img.site-logo{
    margin-left: 0.8%;
    height: 70px;
    width: 70px;
}

.social-media{
    height: 20px;
    width: 22px;
}

.icons{
    right:0%;
    margin-right: 1%;
    bottom:32%;
}

.contact-page{
    bottom:20%;
    margin-left: 4%;
    text-decoration: none;
    
    color: black;
}

.copyright{
    font-size: 10px;
    margin-top: 1rem;
}

.copyright::before{
    content: "\00A9";
}