body {
   margin:0 auto;
   background-color:#e0e0e0;
   height: 100%;
   width: 100%;
 }

 header{
    background-color:rosybrown;
 }
 #logo{
    height:60px;
    width: 60px;
 }
 section{
    height:100%;
    width: 100%;
 }
 #searchBar{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 #city{
    margin-left: 10%;
    margin-right: 10%;
 }
 .cityimage{
    height:250px;
    width:250px;
    border-radius: 25%;
    padding: 2%;
 }
 .socialmedia{
    height: 20px;
    width:22px;
 }
 footer{
    background-color:rosybrown;
 }