body {

    height: 100%;
     width: 100%;

  }
  #logo{
      height:60px;
      width: 60px;
  }
  section{
      margin-left: 6px;
      height:100%;
      width: 100%;
  }
  .cityimage{
      height:250px;
      width:250px;
  }
  .socialmedia{
      height: 20px;
      width:22px;
  }