.view-menu{
    text-decoration: none;
    color: black;
    float:inline-end;
}
#listview{
    scroll-behavior:smooth;
}

#mapview{
    scroll-behavior: smooth;
    display: none;
}

.hotel{
    margin: 3% 5.2% 1.8% 4.8%;
    background-color: lightgray;
    width: 40%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.hotel-image{
    height:230px;
    width:250px;
} 
.hotel-name{
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
h3,p{
     text-decoration: none;
     color:black;
}